
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/" method='POST' onsubmit="ipSubmit()">
      <%= instruction %> => <input type="text" name="user_info_field" id="user_info_id" />
      <input type="submit" />

    </form>
    <p>Or skip, and have browser complete automatically</p>
    <a href="/">Auto</a>
  </body>
</html>
